<a href="https://colab.research.google.com/github/junkyuhufs/Class2024Spring/blob/main/Class3_Packages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#numpy & matplotlib packages

by virtue of Dr. Hosung Nam (Korea Univ.)

##create nd arrays (≈matrices);  nd = n-dimensional

In [ ]:
import numpy as np

###1-d array

array >> list를 nd-array형태로 변환

In [ ]:
x = np.array([1,2,3])
print(x)
print(type(x))
print(x.shape)

NOT arrange; arange >>> 숫자 3개; 첫 두 숫자는 범위(두번째 숫자 미포함), 마지막 숫자는 increment

In [ ]:
x = np.arange(0,10,2)
print(x)
print(type(x))
print(x.shape)

linspace (linear space)>> 첫 두 숫자는 범위 (두번째 숫자 포함), 마지막 숫자는 등분하여 생성할 숫자 갯수

In [ ]:
x = np.linspace(0,10,6)
print(x)
print(type(x))
print(x.shape)

##2-d array

In [ ]:
x = np.array([[1,2,3], [4,5,6]])
print(x)
print(type(x))
print(x.shape)

##3-d array

In [ ]:
x = np.array([[[1,2,3], [4,5,6]], [[7,8,9], [10,11,12]]])
print(x)
print(type(x))
print(x.shape)

ones >> 원하는 메트릭스를 만들고, 1로 채우기

In [ ]:
x = np.ones([2, 3, 4])
print(x)
print(type(x))
print(x.shape)

zeros >> 원하는 메트리스를 만들고, 0으로 채우기

In [ ]:
x = np.zeros([2, 3, 4])
print(x)
print(type(x))
print(x.shape)

reshape >> 행렬형태 바꾸기

In [ ]:
x = np.zeros([2, 3, 4])
print(x)
x.reshape(4,3,2)

#create random numbers

[np.random.normal 함수](https://numpy.org/doc/stable/reference/random/generated/numpy.random.normal.html)

1-d array

In [ ]:
np.random.normal(0, 1, 50)

2-d array

In [ ]:
np.random.normal(0, 1, [2,30])

3-d array

In [ ]:
np.random.normal(0, 1, [2,3,4])

Plotting

In [ ]:
import matplotlib.pyplot as plt

bins >> 통의 갯수

In [ ]:
x = np.random.normal(0, 1, 100)
print(x)
plt.hist(x, bins=10)

#Pandas Package

##Importing pandas

In [ ]:
import pandas as pd

##Loading csv file

In [ ]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

In [ ]:
print(df.size); print(df.ndim); print(df.shape)

In [ ]:
df.describe()

##Saving to CSV

In [ ]:
df.to_csv('california_housing_train.csv')

##Constructing a DataFrame using dict

In [ ]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)
df

##Constructing a DataFrame using pd.Series

In [ ]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

##Changing column names

In [ ]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

##Accessing columns

In [ ]:
# Access one column
df.loc[:, 'sepal_length']

In [ ]:
# Access one column (short-hand)
df['sepal_length']

In [ ]:
# Access one column (shortest-hand)
df.sepal_length

In [ ]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

In [ ]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

##Accessing rows

In [ ]:
# Access one row
df.loc[3, :]

In [ ]:
# Access two rows
df.loc[[3, 0], :]

In [ ]:
# Access a range of rows
df.loc[2:5, :]

In [ ]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

##Accessing a cell

In [ ]:
df.loc[:, 'sepal_length'][4]

In [ ]:
df['sepal_length'][4]

In [ ]:
df.sepal_length[4]

##Adding/Removing new columns

In [ ]:
df['new_column'] = 1
df

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
df

In [ ]:
df = df.drop('new_column', axis=1) # axis=1: column
df

##Adding/Removing new rows

In [ ]:
df.loc[5, :] = ''
df

In [ ]:
df = df.drop(5, axis=0) # axis=0: row
df